<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="false">
  <extensions>
    <add assembly="NLog.AWS.Logger" />
  </extensions>
  <targets>
    <target name="aws"/>
    <target name="console" xsi:type="Console" layout="${callsite} ${longdate} ${level:uppercase=true} ${message}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="console,aws" />
  </rules>
</nlog>
